/* ========================================================
   Global Styles
   ======================================================== */

html {
  font-family: 'Montserrat', sans-serif;
}

br {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

::selection {
  background: #ffb7b7;
} 
::-moz-selection {
  background: #ffb7b7;
}

/* ========================================================
   Header
   ======================================================== */

header {
  background: #2c3e50;
  color: white;
  padding: 25px 0;
}

header h1 {
  margin: 0;
  text-align: center;
  font-size: 45px;
}

header h1 a.one:link, a.one:visited {
  text-decoration: none;
  color: white;
}

header h1 img {
  padding-right: 10px;
  width: 70px;
  height: 55px;
}

/* ========================================================
   Main content
   ======================================================== */

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
    "side main";
  
  width: 1200px;
  margin: 50px auto;
}

/* Side Buttons
   ======================================================== */

form {
  grid-area: side;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Buttons to increment and decrement paragraph counter */

.circle-btn {
  display: block;
  height: 125px;
  width: 125px;
  padding: 16px 32px;
  margin: 4px auto;
  font-size: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  outline: 0;
  cursor: pointer;
}

#plus {
  color: black;
  background-color: white;
  border: 2px solid #97cb5c;
}

#plus:hover {
  color: white;
  background-color: #97cb5c;
}

#minus {
  color: black;
  background-color: white;
  border: 2px solid #00b0bb;
}

#minus:hover {
  color: white;
  background-color: #00b0bb;
}

#paragraph_number {
  display: block;
  height: 70px;
  width: 70px;
  margin: 5px auto;
  color: white;
  background: #233d50;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 50%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Three buttons under the large circle buttons */

.btn-wrapper {
  width: 125px;
  margin: 0 auto;
}

.square-btn {
  display: block;
  color: black;
  background-color: white;
  font-size: 14px;
  border: 2px solid #233d50;
  border-radius: 0%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  cursor: pointer;
}

.square-btn:hover {
  color: white;
  background-color: #233d50;
}

#generate {
  display: block;
  width: inherit;
  padding: 15px 0;
  margin: 20px auto 0;
}

#clipboard {
  float: left;
  width: 60px;
  padding: 15px 0;
  margin: 5px 0;
  background: url('../images/copy.png') no-repeat;
  background-size: 25px;
  background-position: center;
}
#clipboard:hover {
  background: url('../images/copy-hover.png') no-repeat;
  background-size: 25px;
  background-position: center;
  color: white;
  background-color: #233d50;
}

#p-tag {
  float: right;
  width: 60px;
  padding: 15px 0;
  margin: 5px 0;
}

/* Generated Results
   ======================================================== */

#result {
  grid-area: main;
  font-size: 20px;
} 

/* ========================================================
   Footer
   ======================================================== */

footer a {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: black;
  text-decoration: none;
}
